.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}
.modal.active {
    transform: scale(1);
}
.modal_content {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."
      "."
      "."; 
    background-color: white;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid blueviolet;
}
.btn-grid {
    margin-top: 30px;
}
.myInp {
    width: 418px;
    height: 15px;
    border-radius: 10px;
}
.mySelect {
    width: 426px;
    height: 20px;
    border-radius: 10px;
}
.mySelect_high {
    color: brown;
}
.mySelect_middle {
    color:goldenrod;
}
.mySelect_easy {
    color:rgb(115, 214, 95);
}